.tocenter{
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg2{
}
.bgchange{
  background-color: #333;
}

.beblack {
  -webkit-filter: invert(1);
  filter: invert(1);
  }

.zewrap{
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}


.containern1{
  width: 1000px;
  position: relative;
  display: flex;
  justify-content: space-evenly;
}

.containern1 .card-sub{
  position: relative;
  cursor: pointer;
}

.containern1 .card-sub .face{
  width: 300px;
  height: 200px;
  transition: 0.5s;
}

.containern1 .card-sub .face.face1{
  position: relative;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}

.containern1 .card-sub:hover .face.face1{
  background: #14aa00;
  transform: translateY(0);
}

.containern1 .card-sub .face.face1 .content{
  opacity: 0.2;
  transition: 0.5s;
}

.containern1 .card-sub:hover .face.face1 .content{
  opacity: 1;
}

.containern1 .card-sub .face.face1 .content img{
  max-width: 100px;
}

.containern1 .card-sub .face.face1 .content h3{
  margin: 10px 0 0;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 1.5em;
}

.containern1 .card-sub .face.face2{
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  transform: translateY(-100px);
}

.containern1 .card-sub:hover .face.face2{
  transform: translateY(0);
}

.containern1 .card-sub .face.face2 .content p{
  margin: 0;
  padding: 0;
}

.containern1 .card-sub .face.face2 .content a{
  margin: 15px 0 0;
  display:  inline-block;
  text-decoration: none;
  font-weight: 900;
  color: #333;
  padding: 5px;
  border: 1px solid #333;
}

.containern1 .card-sub .face.face2 .content a:hover{
  background: #333;
  color: #fff;
}

.m-t-50{
  padding-left: 70px;
}